

// Color variables
$col_pink: #FF817E;
$col_pinklight: #FFF9F8;
$col_blackish: #222;
$col_white: #FFF;
$col_light: #FCF5EE;
$col_alert: rgb(148, 30, 30);
$col_graylight: #FCFAFA;
$col_red: red;
$col_green: rgb(85, 190, 85);
// Font variables
$font_h1_content: EurostileBold;
$font_content: Eurostile Normal;


