.text_bold {
    font-weight: bold;
    color: #898e90 !important;
}

.me-auto {
    margin-right: 0px !important;
    margin-left: 200px !important;
    font-size: 15px;
}

.navbar_color {
    background-color: #363636;
}

.navbar-light .navbar-toggler {
    background-color: white !important;
}

.btn-outline-success {
    color: #898e90 !important;
    border-color: #898e90 !important;
}  